img {
    display: inline;
}

.mob-show {
    display: none;
}

.kv-con {
    position: relative;
}

.kv-con img {
    width: 100%;
}

.kv-txt-con {
    width: 73%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kv-txt-con h2 {
    font-size: 2.7083vw;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 1.6666vw;
}

.kv-txt-con p {
    font-size: 1.25vw;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
}

.kv-txt-con h3 {
    font-size: 2.7083vw;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 1.25vw;
}


/* 黑色 */

.kv-txt-con.black h2,
.kv-txt-con.black p {
    color: #000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1600px) {
    .wb01-filter__result__description .heading-05 {
        font-size: 20px;
        height: 80px;
    }
}

@media (max-width: 834px) {
    .wb01-filter__result {
        height: 455px;
    }
    .wb01-filter__result__details {
        height: calc(100% - 90px);
    }
    .wb01-filter__result__description .wb01-filter__result__details td:first-of-type .filter-note img {
        display: none;
    }
    .no-note-con .no-note {
        font-size: 20px;
    }
    .filter-load .loading {
        width: 40px;
        height: 40px;
    }
    .wb01-filter__sidebar {
        z-index: 5;
    }
}


/* 浮窗 */

.floating-window {
    width: 3.9583vw;
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 4;
}

.floating-window .item {
    width: 3.9583vw;
    height: 3.9583vw;
    margin-bottom: 0.625vw;
    border-radius: 2px;
    background: #D8D8D8;
    padding-top: 0.8333vw;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.floating-window .item:hover,
.floating-window .item.active {
    background: #C7000B;
}

.floating-window .item .icon {
    width: 1.4583vw;
    height: 1.3541vw;
    margin: 0 auto 0.4vw;
}

.floating-window .item.down .icon {
    background: url(/Assets/HisiliconV4/images/base/fl_down.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.down:hover .icon {
    background: url(/Assets/HisiliconV4/images/base/fl_down_active.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.cart .icon {
    background: url(/Assets/HisiliconV4/images/base/cart.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.cart:hover .icon {
    background: url(/Assets/HisiliconV4/images/base/cart_active.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.contact .icon {
    background: url(/Assets/HisiliconV4/images/base/contact.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.contact:hover .icon {
    background: url(/Assets/HisiliconV4/images/base/contact_active.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.community .icon {
    background: url(/Assets/HisiliconV4/images/base/community.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.community:hover .icon {
    background: url(/Assets/HisiliconV4/images/base/community_active.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.compare .icon {
    background: url(/Assets/HisiliconV4/images/base/compare.svg) no-repeat;
    background-size: cover;
}

.floating-window .item.compare:hover .icon,
.floating-window .item.compare.active .icon {
    background: url(/Assets/HisiliconV4/images/base/compare_active.svg) no-repeat;
    background-size: cover;
}

.floating-window .item p {
    font-size: 0.625vw;
    color: #252B3A;
    line-height: 1.5;
    text-align: center;
}

.floating-window .item:hover p,
.floating-window .item.compare.active p {
    color: #fff;
}

.down-list {
    width: 11.0416vw;
    border-radius: .833vw;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 3.9583vw;
    padding: 1.25vw .8333vw;
    box-sizing: border-box;
    display: none;
}

.down-list li {
    padding-left: 1.0416vw;
    background: url(/Assets/HisiliconV4/images/base/fl_dw_list.png) no-repeat left top;
    background-size: 0.625vw;
}

.down-list li a {
    display: block;
    padding-bottom: .833vw;
    font-size: 0.7291vw;
    color: #8A8E99;
    border-bottom: 1px solid #DFE1E6;
    margin-bottom: .833vw;
}

.down-list li:last-child a {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.down-list li:hover a {
    color: #252B3A;
}

.floating-window .item.down:hover .down-list {
    display: block;
}

.pop-floating-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
}

video {
    width: 100%;
    display: block;
}

.play-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-icon img {
    width: 3.125vw;
    height: 3.125vw;
}


/* 了解更多 */

.des-more {
    width: 100%;
    background: url(/Assets/HisiliconV4/images/base/des-_more_line.png) no-repeat left center;
    background-size: 60%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}

.des-more a {
    font-size: 0.8333vw;
    font-weight: 400;
    color: #252B3A;
    line-height: 2;
    background: url(/Assets/HisiliconV4/images/base/des-_morebg.png) no-repeat right center;
    background-size: 1.0416vw;
    padding-right: 1.3020vw;
}

.des-more a:hover {
    color: #C7000B;
    background: url(/Assets/HisiliconV4/images/base/des-_morebg_active.png) no-repeat right center;
    background-size: 1.0416vw;
}


/* tab */

.tab-item {
    display: none;
}


/* loading */

.pic-load .load,
.pic-no-note .no-note-con {
    display: none;
}

.list-load .load,
.list-no-note .no-note-con {
    display: none;
}

.base-load {
    width: 100%;
}

.load img {
    margin: 4.1666vw auto 0;
    width: 3.125vw;
    height: 3.125vw;
    animation: spin 1s linear infinite;
}

.no-note-con .no-note {
    font-size: 1.25vw;
    margin-top: 4.1666vw;
    color: #858587;
    text-align: center;
}


/* 20240118 导航 */

.header-con {
    width: 100%;
    background: #F5F5F6;
    /* position: fixed; */
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 5;
}

.header-nav-con {
    height: 5.2083vw;
    padding: 0 3.6458vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #DFE1E6;
}

.header-nav-con .nav-logo {
    width: 8.2291vw;
}

.header-nav-tool {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-language-con {
    height: 5.2083vw;
    position: absolute;
    top: 0;
    right: 7.6041vw;
}

.nav-language {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav-language .language-icon1 {
    width: 1.0416vw;
    height: 1.0416vw;
    margin-right: 0.4166vw;
}

.nav-language .language-icon2 {
    width: 0.5208vw;
    height: 0.2604vw;
    margin-left: 0.4166vw;
}

.nav-language p {
    font-size: 0.9375vw;
    margin: 0;
}

.nav-language .language-list {
    display: none;
    position: absolute;
    top: 5.2083vw;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.4166vw;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}

.nav-language .language-list li {
    padding-left: 0.2083vw;
    border-bottom: 1px solid #DFE1E6;
}

.nav-language .language-list li:last-child {
    border-bottom: none;
}

.nav-language .language-list a {
    font-size: 0.7291vw;
    color: #8A8E99;
    line-height: 1.5;
    padding: 0.4166vw 0;
    display: block;
}

.nav-language .language-list a.active {
    color: #000;
}

.search-btn {
    width: 1.25vw;
    height: 1.25vw;
}

.search-btn .search-toggler {
    font-size: 1.25vw;
    color: #000;
}

.navgation-con {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.navgation-con li {
    height: 5.2083vw;
    line-height: 5.2083vw;
    cursor: pointer;
    font-size: 0.9375vw;
    color: #000;
    margin: 0 2.0833vw;
    position: relative;
}

.navgation-con li::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0px;
    height: 3px;
    background: #C7000B;
    transition: all .3s linear;
}

.navgation-con li.active::after {
    width: 100%;
}

.navgation-down-con {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 1.6666vw 0 2.0833vw;
    position: relative;
    display: none;
}

.navgation-down-con .navgation-item-con {
    display: none;
}

.navgation-down-con .close-button {
    font-size: 1.25vw;
    color: #575D6C;
    position: absolute;
    top: 2.1vw;
    right: 9%;
    cursor: pointer;
}

.navgation-down-con .navgation-item {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.navgation-down-con .navgation-item.two-rows {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.navgation-down-con .navgation-item .navgation-item-list {
    margin: 0 0.833vw;
    width: 100%;
}

.navgation-down-con .navgation-item.two-rows .navgation-item-list {
    margin: 0 0.833vw 2.083333vw;
    width: calc(20% - 1.666vw);
}


/* .navgation-down-con .navgation-item0 .navgation-item-list {
    width: calc(20% - .833vw);
}

.navgation-down-con .navgation-item1 .navgation-item-list {
    width: calc(25% - .833vw);
}

.navgation-down-con .navgation-item2 .navgation-item-list {
    width: calc(25% - .833vw);
}

.navgation-down-con .navgation-item3 .navgation-item-list,
.navgation-down-con .navgation-item4 .navgation-item-list {
    width: calc(50% - .833vw);
} */

.navgation-down-con .navgation-item .navgation-item-list a {
    font-size: .833vw;
    color: #575D6C;
}

.navgation-down-con .navgation-item .navgation-item-list .item {
    margin-top: .833vw;
}

.navgation-down-con .navgation-item .navgation-item-list a {
    margin-top: .833vw;
    font-size: .833vw;
    line-height: 1.5;
    color: #575D6C;
    position: relative;
}


/* .navgation-down-con .navgation-item .navgation-item-list a span {
    width:0.2604vw ;
    height: 0.4687vw;
    display: inline-block;
    background: ;
} */


/* .navgation-down-con .navgation-item .navgation-item-list a.list {
    display: flex;
    align-items: center;
} */

.navgation-down-con .navgation-item .navgation-item-list a.list.active {
    color: #C7000B;
}

.navgation-down-con .navgation-item .navgation-item-list a p {
    position: relative;
    padding-right: 1vw;
    display: inline-block;
}

.navgation-down-con .navgation-item .navgation-item-list a p::after {
    content: '';
    width: 0.2604vw;
    height: 0.4687vw;
    display: inline-block;
    background: url(/Assets/HisiliconV4/images/base/nav-arrow-right.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navgation-down-con .navgation-item .navgation-item-list a.list.active p::after {
    height: 0.2604vw;
    width: 0.4687vw;
    background: url(/Assets/HisiliconV4/images/base/nav-arrow-right-red.png) no-repeat center;
    background-size: contain;
}

.navgation-down-con .navgation-item .navgation-item-list .more {
    background: #eee;
    padding: 0.4166vw .833vw .833vw;
    box-sizing: border-box;
    border-radius: .5vw;
    margin-top: 1vw;
    overflow: hidden;
    display: none;
    width: 70%;
}

.navgation-down-con .navgation-item .navgation-item-list .more .item {
    margin-top: .42vw;
}


/* .navgation-down-con .navgation-item .navgation-item-list .more.two {
    display: flex;
    flex-wrap: wrap;
} */

.navgation-down-con .navgation-item .navgation-item-list .more .two .item {
    width: 50%;
    float: left;
}

.navgation-down-con .navgation-item .navgation-item-list .more.two a {
    width: 50%;
}

.navgation-down-con .navgation-item .navgation-item-list .more a {
    margin-top: 0.4166vw;
}

.navgation-down-con .navgation-item .navgation-item-list .two {
    display: flex;
    flex-wrap: wrap;
}

.navgation-down-con .navgation-item .navgation-item-list .two a {
    width: 50%;
}

.navgation-down-con .navgation-item .navgation-item-list .line-1 {
    margin-top: 0;
    font-size: 1.0937vw;
    color: #000;
    padding-bottom: 0.5208vw;
    border-bottom: 1px solid #DFE1E6;
}

.navgation-down-con .navgation-item .navgation-item-list .unline {
    margin-top: 0;
    font-size: 1.0937vw;
    color: #000;
    padding-bottom: 0.5208vw;
}

.navgation-down-con .navgation-item .navgation-item-list .line-1 a {
    font-size: 1.0937vw;
    color: #000;
}

.navgation-down-con .navgation-item .navgation-item-list .unline a {
    font-size: 1.0937vw;
    color: #000;
}

.navgation-down-con .navgation-item2 .navgation-item-list a {
    margin-top: 0;
    font-size: 1.0937vw;
    color: #000;
    padding-bottom: 0.5208vw;
    /* border-bottom: 1px solid #DFE1E6; */
}

.navgation-down-con .navgation-item .navgation-item-list a.line:hover {
    border-color: #C7000B;
    color: #000;
}

.navgation-down-con .navgation-item .navgation-item-list a:hover {
    color: #C7000B;
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

body.no-scroll::before {
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
}

body.no-scroll .header-con-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.mob-nav-back-con {
    display: none;
}


/* 20240125 页脚 */

.footer-con {
    padding-top: 1.1458vw;
    background: #F5F5F6;
    margin-top: 2.5vw;
    position: relative;
}

.footer-con .footer {
    width: 73%;
    margin: 0 auto;
}

.footer-con .footer .footer-title {
    /* display: flex; */
    align-items: center;
    padding-bottom: 1.0416vw;
    border-bottom: 1px solid #DFE1E6;
    margin-bottom: 2.0833vw;
}

.footer-con .footer .footer-title a {
    font-size: 0.8333vw;
    color: #252B3A;
    display: inline;
}

.footer-con .footer .footer-title a:hover {
    color: #252B3A;
}

.footer-con .footer .footer-title .line-2 {
    padding: 0 4px;
    color: #333;
    display: inline;
}

.footer-con .footer .footer-nav-con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25vw;
}

.footer-con .footer .footer-nav-con a.nav_s {
    font-size: .8333vw;
    color: #252B3A;
    font-weight: bold;
    margin-bottom: .8333vw;
}

.footer-con .footer .footer-nav-con a {
    font-size: .8333vw;
    color: #252B3A;
    margin-bottom: 0.4166vw;
    display: block;
}

.footer-con .footer .footer-nav-con .item a {
    display: inline-block;
    margin-bottom: 0.4166vw;
}

.footer-con .footer .footer-nav-con a:hover {
    color: #000;
}

.footer-nav-con li:nth-child(1),
.footer-nav-con li:nth-child(2),
.footer-nav-con li:nth-child(4),
.footer-nav-con li:nth-child(5),
.footer-nav-con li:nth-child(6) {
    margin-right: 6%;
}

.footer-nav-con li:nth-child(3) {
    width: 17%;
}

.footer-nav-con li:nth-child(3) .mob-footer-nav {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-con li:nth-child(3) .mob-footer-nav .item {
    width: 40%;
}

.footer-contact-con {
    display: flex;
}

.footer-contact-con .contact-item {
    margin-right: 4.1666vw;
    position: relative;
}

.footer-contact-con .contact-item .footer-wechat-con {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.footer-contact-con .contact-item:first-child {
    width: 7vw;
}

.footer-contact-con .contact-item img {
    width: 1.25vw;
    height: 1.25vw;
    display: block;
    margin-right: 0.4687vw;
}

.footer-contact-con .contact-item p {
    font-size: .833vw;
    margin: 0;
}

.footer-contact-con .contact-item .footer-wechat-hover {
    padding-top: 1vw;
    display: none;
}


/* .footer-contact-con .contact-item:hover .footer-wechat-hover {
    display: block;
} */

.footer-contact-con .contact-item .footer-wechat-hover img {
    width: 6.25vw;
    height: 6.25vw;
}

.footer-us-hover {
    padding: 0 .833vw .833vw;
    background: #fff;
    border-radius: .4vw;
    display: flex;
}

.footer-us-hover li:last-child {
    margin-right: 0;
}

.footer-us-hover li {
    padding-top: .833vw;
    margin-right: 1vw;
    border-bottom: 1px solid #ddd;
    padding-bottom: .3vw;
}

.footer-us-hover li h5 {
    font-size: 0.9375vw;
    color: #000;
    margin-bottom: .4vw;
}

.footer-us-hover li p {
    font-size: 0.833vw;
    color: #575D6C;
    margin-bottom: .4vw;
}

.footer-us-hover li p.line-3 {
    text-decoration: underline;
}

.footer-us-hover li a {
    position: relative;
    display: block;
}

.footer-us-hover li a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.7291vw;
    height: 0.7291vw;
    background: url(/Assets/HisiliconV4/images/base/send.png) no-repeat;
    background-size: contain;
}

.footer-us-hover li a:hover:after {
    background: url(/Assets/HisiliconV4/images/base/send_red.png) no-repeat;
    background-size: contain;
}

.footer-us-hover li a:hover p {
    color: #d9261c;
}

.footer-copyright {
    margin-top: 1.9791vw;
    padding: 0.9895vw 0;
    border-top: 1px solid #DFE1E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright span,
.footer-copyright a {
    font-size: .8333vw;
    color: #252B3A;
    line-height: 1.5;
}

.footer-copyright a:hover {
    color: #000;
}

.footer-copyright span {
    margin-right: 2.0833vw;
}

.footer-copyright a:last-child {
    margin-left: 1.25vw;
}

.footer-copyright .line {
    width: 1px;
    height: 0.9375vw;
    background: #252B3A;
    margin: 0 1.25vw;
}

@media screen and (max-width:1200px) {
    .footer-nav-con li:nth-child(1),
    .footer-nav-con li:nth-child(2),
    .footer-nav-con li:nth-child(4),
    .footer-nav-con li:nth-child(5),
    .footer-nav-con li:nth-child(6) {
        margin-right: 5%;
    }
    .footer-nav-con li:nth-child(3) {
        width: 20%;
    }
}

@media screen and (max-width:835px) {
    body.no-scroll::before {
        background: transparent;
    }
    .header-nav-con {
        height: 16vw;
        padding: 0 4.2667vw;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
    }
    .header-nav-con .nav-logo {
        width: 26.6667vw;
    }
    .nav-language-con {
        width: 100%;
        height: auto;
        position: unset;
        display: none;
        justify-content: center;
    }
    .nav-language {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .nav-language .language-icon1 {
        width: 5.6vw;
        height: 5.6vw;
        margin-right: 0.4166vw;
        margin-bottom: 2vw;
    }
    .nav-language .language-icon2 {
        display: none;
        width: 0.5208vw;
        height: 0.2604vw;
        margin-left: 0.4166vw;
    }
    .nav-language p {
        font-size: 2.6667vw;
    }
    .nav-language .language-list {
        display: none;
        top: 7.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 13.8667vw;
    }
    .nav-language .language-list li {
        padding-left: 0;
        font-size: 2.6667vw;
        text-align: center;
        border-bottom: 1px solid #DFE1E6;
    }
    .nav-language .language-list li:last-child {
        border-bottom: none;
    }
    .nav-language .language-list a {
        font-size: 2.6667vw;
        color: #8A8E99;
        line-height: 1.5;
        padding: 2.1333vw 0;
    }
    .nav-language .language-list a.active {
        color: #000;
    }
    .search-btn {
        width: 5.3333vw;
        height: 5.3333vw;
        margin-right: 9.3333vw;
    }
    .search-btn .search-toggler {
        font-size: 5.3333vw;
        color: #000;
    }
    .navgation-con {
        position: unset;
        transform: none;
        display: none;
        box-sizing: border-box;
        padding: 5.3333vw 4.266vw 8.5333vw;
    }
    .navgation-con li {
        height: auto;
        line-height: 1.5;
        font-size: 3.7333vw;
        color: #252B3A;
        margin: 0;
        padding: 3.2vw 0 2.4vw;
        border-bottom: 1px solid #DFE1E6;
    }
    .navgation-con li::after {
        content: '';
        width: 3vw;
        height: 1.9vw;
        position: absolute;
        top: 5.2vw;
        right: 0;
        left: unset;
        transform: none;
        background: url(/Assets/HisiliconV4/images/base/back.png) no-repeat;
        background-size: contain;
        transform: scaleX(-1);
    }
    .nav-title {
        height: auto;
        line-height: 1.5;
        font-size: 4vw;
        color: #252B3A;
        margin: 0;
        padding: 3.2vw 0 5vw;
        border-bottom: 1px solid #DFE1E6;
        position: relative;
        font-weight: normal;
    }
    /* .nav-title::after {
        content: '';
        width: 3vw;
        height: 1.9vw;
        position: absolute;
        top: 5.2vw;
        right: 0;
        left: unset;
        transform: none;
        background: url(/Assets/HisiliconV4/images/base/back.png) no-repeat;
        background-size: contain;
        transform: scaleX(-1);
    } */
    .arrow-icon {
        position: relative;
    }
    .arrow-icon::after {
        content: '';
        width: 3vw;
        height: 1.9vw;
        position: absolute;
        top: 5.2vw;
        right: 0;
        left: unset;
        transform: none;
        background: url(/Assets/HisiliconV4/images/base/back.png) no-repeat;
        background-size: contain;
        transform: scaleX(-1);
    }
    .navgation-con li.active::after {
        width: 100%;
    }
    .navgation-down-con {
        width: 100%;
        background: #F5F5F6;
        padding: 2.1333vw 0 8.5333vw;
        display: none;
    }
    .navgation-down-con .navgation-item-con {
        display: none;
    }
    .navgation-down-con .close-button {
        display: none;
    }
    .navgation-down-con .navgation-item {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0 4.266vw;
    }
    .navgation-down-con .navgation-item .navgation-item-list,
    .navgation-down-con .navgation-item.two-rows .navgation-item-list {
        margin: 0;
        width: 100%;
    }
    .navgation-down-con .navgation-item .navgation-item-list a {
        font-size: .833vw;
        color: #575D6C;
        display: block;
    }
    .navgation-down-con .navgation-item .navgation-item-list a {
        margin-top: 0;
        font-size: 3.2vw;
        color: #000;
        padding: 3.2vw 0 2.4vw;
        border-bottom: 1px solid #DFE1E6;
        line-height: 1.5;
        display: block;
    }
    .navgation-down-con .navgation-item .navgation-item-list .line-1 {
        margin-top: 0;
        font-size: 3.2vw;
        color: #000;
        padding: 0;
        border-bottom: none;
        position: relative;
    }
    .navgation-down-con .navgation-item .navgation-item-list .unline {
        margin-top: 0;
        font-size: 3.2vw;
        color: #000;
        padding: 0;
        border-bottom: none;
        position: relative;
    }
    .navgation-down-con .navgation-item .navgation-item-list .more .item {
        margin-top: 0;
    }
    .navgation-down-con .navgation-item .navgation-item-list .line-1 a,
    .navgation-down-con .navgation-item .navgation-item-list .unline a {
        /* margin-top: 0; */
        font-size: 3.2vw;
        color: #000;
        /* padding: 3.2vw 0 2.4vw;
        border-bottom: 1px solid #DFE1E6;
        position: relative; */
    }
    .navgation-down-con .navgation-item .navgation-item-list a.active {
        font-weight: bold;
    }
    .navgation-down-con .navgation-item .navgation-item-list .more {
        width: 100%;
    }
    .navgation-down-con .navgation-item .navgation-item-list .two a {
        width: 100%;
    }
    .navgation-down-con .navgation-item .navgation-item-list a.line::after {
        content: '';
        width: 3vw;
        height: 1.9vw;
        position: absolute;
        top: 5.2vw;
        right: 0;
        left: unset;
        transform: none;
        background: url(/Assets/HisiliconV4/images/base/back.png) no-repeat;
        background-size: contain;
        transform: scaleX(-1);
    }
    .navgation-down-con .navgation-item .navgation-item-list a.line.active::after {
        display: none;
    }
    .navgation-down-con .navgation-item .navgation-item-list a.line:hover {
        border-color: #DFE1E6;
        color: #000;
    }
    .navgation-down-con .navgation-item .navgation-item-list a:hover {
        color: #575D6C;
    }
    /* .navgation-down-con .navgation-item .navgation-item-list .item {
        border-bottom: 1px solid #DFE1E6;
    } */
    .navgation-down-con .navgation-item .navgation-item-list .more .item a {
        display: inline-block;
        padding: 1.5vw 1vw;
    }
    .navgation-down-con .navgation-item .navgation-item-list a p {
        padding-right: 5vw;
    }
    .navgation-down-con .navgation-item .navgation-item-list a p::after {
        width: 3.1vw;
        height: 2vw;
    }
    .navgation-down-con .navgation-item .navgation-item-list a.list.active p::after {
        height: 3.1vw;
        width: 2vw;
    }
    .mob-nav {
        display: none;
    }
    body.no-scroll .header-con-bg {
        background: #F5F5F6;
        z-index: 1;
    }
    /* 移动端导航菜单icon */
    .header-nav-tool .hamburger-toggler::before {
        content: "";
        display: "";
        position: absolute;
        height: 2px;
        width: 4.2666vw;
        top: 50%;
        right: 4.266vw;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        background-color: #575D6C;
        border-radius: 1px;
    }
    .header-nav-tool .hamburger-toggler::after {
        content: "";
        display: "";
        position: absolute;
        height: 2px;
        width: 4.2666vw;
        top: 50%;
        right: 4.266vw;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        background-color: #575D6C;
        border-radius: 1px;
    }
    .header-nav-tool .hamburger-toggler.active::before {
        -webkit-animation-name: topLineAnimation;
        animation-name: topLineAnimation;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .header-nav-tool .hamburger-toggler.active::after {
        -webkit-animation-name: bottomLineAnimation;
        animation-name: bottomLineAnimation;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .mob-nav-back-con {
        box-sizing: border-box;
        padding: 9.3333vw 4.266vw 0;
        margin-bottom: 3vw;
    }
    .mob-nav-back-con .mob-nav-back {
        font-size: 2.6667vw;
        color: #8A8E99;
        padding-left: 1.8667vw;
        background: url(/Assets/HisiliconV4/images/base/back.png) no-repeat left center;
    }
    /* 20240125 移动端页脚 */
    .footer-con {
        padding: 4.5333vw 4.2667vw 0;
        margin-top: 8vw;
    }
    .footer-con .footer {
        width: 100%;
    }
    .footer-con .footer .footer-title {
        padding-bottom: 3.4667vw;
        margin-bottom: 5.3333vw;
    }
    .footer-con .footer .footer-title a {
        font-size: 3.7333vw;
    }
    /* .footer-con .footer .footer-title .line {
        width: 1px;
        height: 3.2vw;
        margin: 0 2.4vw;
        background: #252B3A;
    } */
    .footer-con .footer .footer-nav-con {
        display: block;
        margin-bottom: 5.3333vw;
    }
    .footer-con .footer .footer-nav-con a.nav_s {
        font-size: 3.2vw;
        color: #252B3A;
        font-weight: normal;
        margin-bottom: 0;
        border-bottom: 1px solid #DFE1E6;
        position: relative;
    }
    .footer-con .footer .footer-nav-con a.nav_s::after {
        content: '';
        width: 2.4vw;
        height: 1.3333vw;
        background: url(/Assets/HisiliconV4/images/base/language-icon1.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .footer-con .footer .footer-nav-con a.active {
        border-bottom: none;
    }
    .footer-con .footer .footer-nav-con a.active::after {
        transform: rotate(-180deg);
    }
    .footer-con .footer .footer-nav-con a {
        font-size: 3.2vw;
        color: #8A8E99;
        margin-bottom: 0;
        display: block;
        padding: 3.2vw 0;
    }
    .footer-nav-con li:nth-child(1),
    .footer-nav-con li:nth-child(2),
    .footer-nav-con li:nth-child(4),
    .footer-nav-con li:nth-child(5),
    .footer-nav-con li:nth-child(6) {
        margin-right: 0%;
    }
    .footer-nav-con li:nth-child(3) {
        width: 100%;
    }
    .footer-nav-con li .mob-footer-nav {
        display: none;
        overflow: hidden;
    }
    .footer-nav-con li:nth-child(3) .mob-footer-nav {
        display: none;
        flex-wrap: wrap;
    }
    .footer-nav-con li:nth-child(3) .mob-footer-nav .item {
        width: 50%;
        float: left;
    }
    .footer-us-hover {
        display: block;
        padding: 0 3vw 2vw;
    }
    .footer-contact-con {
        display: flex;
        justify-content: start;
    }
    .footer-contact-con .contact-item {
        margin-left: 0;
    }
    .footer-contact-con .contact-item:first-child {
        width: 20vw;
    }
    .footer-contact-con .contact-item:last-child {
        margin-left: 8.5333vw;
    }
    .footer-contact-con .contact-item img {
        width: 4.1333vw;
        height: 4.1333vw;
        margin-right: 1.0667vw;
    }
    .footer-contact-con .contact-item p {
        font-size: 2.4vw;
    }
    .footer-copyright {
        margin-top: 5.4vw;
        padding: 5.4vw 0;
        flex-wrap: wrap;
    }
    .footer-copyright span,
    .footer-copyright a {
        font-size: 2.4vw;
    }
    .footer-copyright span {
        margin-right: 0
    }
    .footer-copyright a:last-child {
        margin-left: 5.3333vw;
    }
    .footer-copyright .line {
        display: none;
    }
    .mob-copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1.0667vw;
    }
    .footer-contact-con .contact-item .footer-wechat-hover {
        padding-top: 2vw;
    }
    .footer-contact-con .contact-item .footer-wechat-hover img {
        width: 19vw;
        height: 19vw;
    }
    .footer-us-hover li {
        padding-top: 3vw;
        margin-right: 0;
        padding-bottom: 1vw;
    }
    .footer-us-hover li:last-child {
        border-bottom: none;
    }
    .footer-us-hover li h5 {
        font-size: 3vw;
        margin-bottom: 1vw;
    }
    .footer-us-hover li p {
        font-size: 2.8vw;
        margin-bottom: 1vw;
    }
    .footer-us-hover li p.line-3 {
        text-decoration: underline;
    }
    .footer-us-hover li a {
        position: relative;
        display: block;
    }
    .footer-us-hover li a::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.7291vw;
        height: 0.7291vw;
        background: url(/Assets/HisiliconV4/images/base/send.png) no-repeat;
        background-size: contain;
    }
    .footer-us-hover li a:hover:after {
        background: url(/Assets/HisiliconV4/images/base/send_red.png) no-repeat;
        background-size: contain;
    }
    .footer-us-hover li a:hover p {
        color: #d9261c;
    }
    .navgation-down-con .navgation-item .navgation-item-list .more {
        padding: 1.4166vw 3vw 1.833vw;
        border-radius: 1vw;
        margin-top: 3vw;
        background: #F5F5F6;
    }
    .navgation-down-con .navgation-item .navgation-item-list .more a {
        margin-top: 0.4166vw;
        border: none;
    }
}


/* 媒体查询 */

@media screen and (max-width:1600px) {
    .floating-window,
    .floating-window .item {
        width: 4.9583vw;
    }
    .floating-window .item {
        height: 4.3vw;
    }
    .down-list {
        right: 4.9583vw;
    }
}

@media screen and (max-width:1366px) {
    .floating-window,
    .floating-window .item {
        width: 5.9583vw;
    }
    .floating-window .item {
        height: 4.3vw;
        padding-top: 12%;
    }
    .down-list {
        right: 5.9583vw;
    }
}

@media screen and (max-width:920px) {
    .floating-window,
    .floating-window .item {
        width: 7.9583vw;
    }
    .floating-window .item {
        height: 5.3vw;
        padding-top: 12%;
    }
    .down-list {
        right: 7.9583vw;
    }
}

@media screen and (max-width:834px) {
    .pc-show {
        display: none;
    }
    .mob-show {
        display: block;
    }
    .kv-txt-con {
        width: 89%;
    }
    .kv-txt-con h2 {
        font-size: 6.5vw;
        margin-bottom: 5.2vw;
    }
    .kv-txt-con p {
        font-size: 3.7333vw;
    }
    /* 浮窗 */
    .floating-window {
        width: 5.8667vw;
        position: fixed;
        right: 0;
        top: 48%;
    }
    .floating-window .item {
        width: 5.8667vw;
        height: 8.4vw;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .floating-window .item:hover {
        background: #C7000B;
    }
    .floating-window .item .icon {
        width: 3.2vw;
        height: 2.8vw;
        margin: 0 auto;
    }
    .floating-window .item.down .icon {
        background: url(/Assets/HisiliconV4/images/base/fl_down.svg) no-repeat;
        background-size: cover;
    }
    .floating-window .item.down:hover .icon {
        background: url(/Assets/HisiliconV4/images/base/fl_down_active.svg) no-repeat;
        background-size: cover;
    }
    .floating-window .item.cart .icon {
        background: url(/Assets/HisiliconV4/images/base/cart.svg) no-repeat;
        background-size: cover;
    }
    .floating-window .item.cart:hover .icon {
        background: url(/Assets/HisiliconV4/images/base/cart_active.svg) no-repeat;
        background-size: cover;
    }
    .floating-window .item p {
        display: none;
    }
    .down-list {
        width: 85vw;
        border-radius: 2.1333vw;
        background: #FFFFFF;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 5.8667vw;
        padding: 3.2vw 2.1333vw;
        box-sizing: border-box;
        display: none;
    }
    .down-list li {
        padding-left: 5vw;
        background: url(/Assets/HisiliconV4/images/base/fl_dw_list.png) no-repeat left top;
        background-size: 3.2vw;
    }
    .down-list li a {
        display: block;
        padding-bottom: 2.1333vw;
        font-size: 3.2vw;
        color: #8A8E99;
        border-bottom: 1px solid #DFE1E6;
        margin-bottom: 2.1333vw;
    }
    .play-icon img {
        width: 8vw;
        height: 8vw
    }
    /* 了解更多 */
    .des-more a {
        font-size: 3.2vw;
        background: url(/Assets/HisiliconV4/images/base/des-_morebg.png) no-repeat right center;
        background-size: 4.5vw;
        padding-right: 5vw;
    }
    .des-more a:hover {
        background: url(/Assets/HisiliconV4/images/base/des-_morebg_active.png) no-repeat right center;
        background-size: 4.5vw;
    }
}


/* 20231218 */


/* 新闻详情 */

.news-con {
    padding-top: 4vw;
}

.news-con h2 {
    font-size: 1.25vw;
    color: #333;
    line-height: 1.5;
    margin-bottom: 0.938vw;
}

.news-con p {
    width: auto;
    font-size: 0.9375vw;
    color: #666;
    line-height: 1.95;
    margin: 0 0 0.938vw 0;
}

.news-con p.img-txt {
    text-align: center;
    margin: 0.938vw 0;
}

.news-con img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.news-con .bg-gray {
    background: rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 0.938vw 0.938vw 0.938vw 2vw;
    margin-bottom: 0.938vw;
}

.news-con .bg-gray p {
    margin-bottom: 0;
}

.news-con .bg-gray::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:834px) {
    .news-con h2 {
        font-size: 4.6vw;
        line-height: 2;
        margin-bottom: 2vw;
    }
    .news-con p {
        font-size: 3.2vw;
        line-height: 2;
        margin-bottom: 2vw
    }
    .news-con .bg-gray {
        margin-bottom: 2vw;
    }
    .news-con p.img-txt {
        margin: 2vw 0;
    }
    .news-con img {
        max-width: 100%;
    }
    .news-con .bg-gray {
        padding: 2vw 2vw 2vw 4vw;
    }
}

@media screen and (max-width:414px) {
    .news-con {
        padding: 6vw 2vw;
    }
}