/* 电视芯片 */

.tvchip-con {
    width: 75%;
    margin: 0 auto;
    padding: 4.1666vw 0 2.9166vw;
}

.tvchip-con .tvchip-tab {
    margin: 0 1.25vw 2.5vw;
    border-bottom: 1px solid #DFE1E6;
    display: flex;
}

.tvchip-con .tvchip-tab li {
    font-size: 0.8333vw;
    font-weight: 400;
    color: #252B3A;
    line-height: 1.2;
    padding-bottom: 0.7291vw;
    border-bottom: 2px solid #fff;
    margin-right: 6.25vw;
    cursor: pointer;
}

.tvchip-con .tvchip-tab li.active {
    border-color: #C7000B;
    color: #000;
}

.tvchip-list-con {
    position: relative;
    min-height: 16VW;
}

.tvchip-list-con .load {
    display: none;
}

.tvchip-list-con .load img {
    margin: 4.1666vw auto 0;
    width: 3.125vw;
    height: 3.125vw;
    animation: spin 1s linear infinite;
}

.tvchip-list-con .no-note-con {
    display: none;
}

.tvchip-list-con .no-note-con .no-note {
    font-size: 1.25vw;
    margin-top: 4.1666vw;
    color: #858587;
    text-align: center;
}

.tvchip-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tvchip-list-con .prlist-con .prlist-con-item {
    display: none;
}

.tvchip-list li {
    width: calc((100 / 3) * 1% - 2.5vw);
    background: #F5F5F6;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px 16px 16px 16px;
    border: 1px solid #ADB0B8;
    margin: 0 1.25vw 1.25vw;
}

.tvchip-list li a {
    width: 100%;
    padding: 1.667vw;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.tvchip-list li a .tip {
    padding: 0.5729vw 1.9791vw 0.5729vw 1.6666vw;
    font-size: 1.25vw;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 2.6041vw;
    background: #D64B52;
    position: absolute;
    top: 0;
    left: 0;
}

.tvchip-list li .icon-con {
    width: 100%;
    padding-top: 2.1875vw;
    position: relative;
    margin-bottom: 2.5vw;
}

.tvchip-list li .icon-con .chip-icon {
    width: 3.3333vw;
    height: 2.1875vw;
    position: absolute;
    top: 0;
    right: 0;
}

.tvchip-list li .icon-con .pic-con {
    width: 6.4583vw;
    height: 6.4583vw;
    position: relative;
}

.tvchip-list li .icon-con .pic-con img {
    width: 100%;
}

.tvchip-list li .icon-con .pic-con p {
    width: 85%;
    font-size: 0.625vw;
    font-weight: 400;
    color: #8A8E99;
    line-height: 1.5;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.tvchip-list li .txt-con {
    height: 7vw;
}

.tvchip-list li .txt-con h3 {
    font-size: 1.25vw;
    font-weight: bold;
    color: #252B3A;
    line-height: 1;
    margin-bottom: 1.25vw;
}

.tvchip-list li .txt-con .txt {
    display: flex;
    justify-content: space-between;
}

.tvchip-list li .txt-con .txt p {
    width: 70%;
    font-size: 0.833vw;
    font-weight: 400;
    color: #575D6D;
    line-height: 1.5;
}

.tvchip-list li .txt-con .txt .arrow {
    width: 2.2916vw;
    height: 2.2916vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ADB0B8;
    border-radius: 8px 8px 8px 8px;
    position: relative;
}

.tvchip-list li .txt-con .txt .arrow::after {
    position: absolute;
    width: 2.2916vw;
    height: 2.2916vw;
    transition: opacity 0.3s ease;
}

.tvchip-list li .txt-con .txt .arrow .font-ico-arrow-right {
    position: relative;
}

.tvchip-list li .txt-con .txt .arrow .font-ico-arrow-right::before {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
    content: "";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tvchip-list li:hover .txt-con .txt .arrow {
    background: #C7000B;
}

.tvchip-list li:hover .txt-con .txt .arrow .font-ico-arrow-right {
    -webkit-animation: arrowAnimation 1.2s ease-in-out;
    animation: arrowAnimation 1.2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* 产品对比弹层 */

.compare-sel-con {
    height: 2.5vw;
    margin-bottom: 2.0833vw;
    display: flex;
    justify-content: space-between;
}

.sel-item {
    width: 31%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #8A8E99;
    font-size: 0.7291vw;
    color: #ADB0B8;
    cursor: pointer;
    position: relative;
}

.sel-item .select-val {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.3020vw 0 0.625vw;
}

.sel-item .select-icon {
    width: 0.5208vw;
    height: 0.5208vw;
    position: absolute;
    right: 0.625vw;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    display: flex;
}

.sel-item .select-icon img {
    width: 100%;
}

.sel-item .select-icon.on {
    transform: translateY(-50%) rotate(0deg);
}

.sel-item .pr-select-list {
    display: none;
    width: 100%;
    margin-top: 1px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #8A8E99;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 0.625vw;
    padding-top: 0.625vw;
    position: relative;
    z-index: 1;
}

.sel-item .pr-select-list li {
    font-size: 0.7291vw;
    font-weight: 400;
    padding-left: 0.625vw;
    color: #575D6C;
    line-height: 2;
}

.sel-item .pr-select-list li:hover {
    background: #F5F5F6;
    color: #C7000B;
}


/* 20231115 产品对比 */

.productscompare-con {
    width: 73%;
    margin: 0 auto;
    padding: 4.1666vw 0;
}

.productscompare-con h2 {
    font-size: 1.6666vw;
    font-weight: bold;
    color: #252B3A;
    line-height: 1;
    text-align: center;
    margin-bottom: 2.5vw;
}

.compare-pic-con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.3333vw;
}

.compare-list {
    width: 32%;
    justify-content: space-between;
}

.compare-list li {
    width: 100%;
    margin: 0;
    height: 21.6666vw;
}

.productscompare-con h3 {
    font-size: 1.25vw;
    font-weight: bold;
    color: #252B3A;
    line-height: 1;
    margin-bottom: 0.8333vw;
}

.compare-table-con {
    width: 100%;
}

.compare-table-con li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.compare-table-con li .compare-table-item {
    width: 32%;
    height: auto;
}

.compare-table-con li .compare-table-item .compare-table-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ADB0B8;
    border-bottom: none;
    padding: 1.6666vw 0.8333vw;
}

.compare-table-con li:last-child .compare-table-item .compare-table-list {
    border-bottom: 1px solid #ADB0B8;
}

.compare-table-con li .compare-table-item .compare-table-list h4 {
    font-size: 1.0416vw;
    font-weight: bold;
    color: #252B3A;
    line-height: 1.5;
}

.compare-table-con li .compare-table-item .compare-table-list p {
    font-size: 1.0416vw;
    font-weight: 400;
    color: #252B3A;
    line-height: 1.5;
}


/* 媒体查询 */

@media screen and (max-width:1400px) {
    .tvchip-list li .txt-con {
        height: 10vw;
    }
}

@media screen and (max-width:1200px) {
    .tvchip-list li .icon-con .pic-con {
        width: 7.4583vw;
        height: 7.4583vw;
    }
}

@media screen and (max-width:834px) {
    .tvchip-con {
        width: 89%;
        margin: 0 auto;
        padding: 13.3333vw 0;
    }
    .tvchip-con .tvchip-tab {
        height: 7.2vw;
        margin: 0 1% 6.4vw;
        justify-content: space-around;
        /* border: none; */
        /* background: #F5F5F6; */
    }
    .tvchip-con .tvchip-tab li {
        /* width: calc((100 / 3) * 1%); */
        font-size: 3.2vw;
        /* border: none; */
        margin-right: 0;
        line-height: 7.2vw;
        text-align: center;
    }
    .tvchip-con .tvchip-tab li.active {
        /* color: #fff; */
        /* background: #C7000B; */
    }
    .tvchip-list-con {
        position: relative;
        min-height: 16VW;
    }
    .tvchip-list-con .load img {
        margin: 10vw auto 0;
        width: 7.2vw;
        height: 7.2vw;
    }
    .tvchip-list-con .no-note-con .no-note {
        font-size: 3.2vw;
        margin-top: 10vw;
        color: #858587;
        text-align: center;
    }
    .tvchip-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .tvchip-list li {
        width: calc((100 / 2) * 1% - 2.4vw);
        overflow: hidden;
        border-radius: 2.1333vw;
        border: 1px solid #ADB0B8;
        margin: 0 1.2vw 2.4vw;
    }
    .tvchip-list li a {
        padding: 2.9333vw;
    }
    .tvchip-list li a .tip {
        padding: .8vw 2.5vw .8vw 2vw;
        font-size: 2.4vw;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5vw;
    }
    .tvchip-list li .icon-con {
        width: 100%;
        padding-top: 4.6667vw;
        position: relative;
        margin-bottom: 6.4vw;
    }
    .tvchip-list li .icon-con .chip-icon {
        width: 6.4vw;
        height: 4.6667vw;
    }
    .tvchip-list li .icon-con .pic-con {
        width: 12.4vw;
        height: 12.4vw;
    }
    .tvchip-list li .icon-con .pic-con p {
        font-size: 1.333vw;
    }
    .tvchip-list li .txt-con {
        height: 24vw;
    }
    .tvchip-list li .txt-con h3 {
        font-size: 3.2vw;
        margin-bottom: 2vw;
    }
    .tvchip-list li .txt-con .txt p {
        width: 80%;
        font-size: 2.4vw;
    }
    .tvchip-list li .txt-con .txt .arrow {
        width: 5.7333vw;
        height: 5.7333vw;
        border-radius: 1.0667vw;
        margin-top: .8vw;
    }
    .tvchip-list li .txt-con .txt .arrow::after {
        width: 5.7333vw;
        height: 5.7333vw;
    }
    .tvchip-list li .txt-con .txt .arrow .font-ico-arrow-right::before {
        font-size: 2.4vw;
    }
    .mob-navigation {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 5.3333vw;
    }
    .mob-navigation .btn {
        width: 8.5333vw;
        height: 8.5333vw;
        border-radius: 50%;
        background: #F5F5F6;
        margin: 0 3.2vw;
    }
    .mob-navigation .btn img {
        width: 100%;
    }
    .mob-navigation .prev img {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .products-compare-pop .products-compare-con {
        width: 91%;
        height: 110vw;
        padding: 5.3333vw 3.2vw;
        background: #fff;
    }
    .products-compare-pop .products-compare-con h5 {
        font-size: 4.2667vw;
        margin-bottom: 8vw;
    }
    .compare-sel-con {
        height: 6vw;
        justify-content: space-between;
        margin-bottom: 8vw;
    }
    .sel-item {
        width: 48.5%;
        margin: 0;
        font-size: 2.8vw;
        border: 0;
        border-bottom: 1px solid #ADB0B8;
    }
    .sel-item .select-val {
        padding: 0 4vw 0 0;
    }
    .sel-item .select-icon {
        width: 2vw;
        height: 2vw;
        right: 1.3333vw;
    }
    .sel-item .pr-select-list {
        padding-bottom: 1.25vw;
        padding-top: 1.25vw;
    }
    .sel-item .pr-select-list li {
        font-size: 2.8vw;
    }
    .compare-table {
        height: 75vw;
        padding-right: 1vw;
    }
    .mob-compare-table h2 {
        font-size: 3.7333vw;
        font-weight: bold;
        color: #252B3A;
        text-align: center;
        line-height: 1;
        padding: 4.2667vw 0;
        background: #F5F5F6;
        border-radius: 2.1333vw;
    }
    .mob-compare-table .mob-compare-con {
        display: flex;
        justify-content: space-between;
    }
    .mob-compare-table .mob-compare-con .mob-compare-item {
        width: 48%;
        padding: 4.2667vw 0 4.2667vw 1.0667vw;
        font-size: 3.2vw;
        font-weight: 400;
        color: #252B3A;
        line-height: 1.5;
    }
    /* 20231115 产品对比 */
    .productscompare-con {
        width: 90%;
        padding: 10.6667vw 0 2vw;
    }
    .productscompare-con h2 {
        font-size: 4.2667vw;
        margin-bottom: 6.4vw;
    }
    .compare-pic-con {
        margin-bottom: 8.5333vw;
    }
    .compare-list {
        width: 48.5%;
    }
    .compare-list.pc-show {
        display: none;
    }
    .compare-list li {
        width: 100%;
        height: 48vw;
        margin: 0;
    }
    .productscompare-con h3 {
        font-size: 3.2vw;
        margin-bottom: 2.1333vw;
    }
    .compare-table-con li .compare-table-item {
        width: 48.5%;
    }
    .compare-table-con li .compare-table-item .compare-table-list {
        padding: 0;
        border: none;
        margin-bottom: 2.1333vw;
    }
    .compare-table-con li .compare-table-item .compare-table-list h4 {
        width: 100%;
        padding: 16px 0;
        text-align: center;
        font-size: 2.4vw;
        line-height: 1;
        background: #F5F5F6;
        border-radius: 1.0667vw;
        margin-bottom: 2.1333vw;
    }
    .compare-table-con li .compare-table-item .compare-table-list p {
        width: 85%;
        margin: 0 auto;
        font-size: 2.4vw;
    }
    .compare-table-con li:last-child .compare-table-item .compare-table-list {
        border-bottom: none;
    }
}

@media screen and (max-width:414px) {
    .tvchip-list li {
        height: auto;
    }
    .tvchip-list li .icon-con {
        margin-bottom: 6.4vw;
    }
    .tvchip-list li .txt-con {
        height: 33vw;
    }
    .tvchip-list li .icon-con .pic-con p {
        width: 200%;
        font-size: 12px;
        transform: scale(.5);
        top: 58%;
        -webkit-transform: scale(.5) translateX(-100%);
        display: block;
    }
}