/*
 * This is a globally available SCSS project file.
 * It contains project specific utilities (variables, mixins, functions) that don't! output CSS by default.
 * We use it to be imported in a webpack loader to avoid having to import these in each separate file.
 *
 * This file is used next to "seng-scss" which is imported globally as well and contain the default mixins/vars/functions
 */
/**
 * Asset URL builder
 *
 * @param {String} $type - Asset type, matching folder name
 * @param {String} $file - Asset file name, including extension
 *
 * @return {URL} - A `url()` function leading to the asset
 */
/*
 * Font asset helper
 * @access public
 * @param {String} $file - Asset file name, including extension
 * @return {URL} - A `url()` function leading to the font
 * @require {function} asset
 */
/*
 * Get Font weight
 *
 * @param {String} $weight - The name of the weight you need
 *
 * @return {Number} - The CSS based font weight on the name
 */
/**
 * Z-Index function
 *
 * @param {string} $list (Array) - The list to find the current z-index in
 * @param {string} $element (String) - The name of the current element, must be in the $list
 *
 * @returns {number}
 */
/**
 * Get EM size of a value based on a base size
 *
 * @param {Number} $value - The value you need the EM value from
 * @param {Number} $base - The base value where the $value is calculated upon
 *
 * @return {EM Value} - The EM value based on $value and $base
 */
/**
 * Font Face
 *
 * @param {string} $fontName - Name of the font
 * @param {string} $folderName - Subfolder inside the fonts folder
 * @param {string} $fileName - Name of the font-file
 * @param {string} $fontWeight (normal) - Font weight value
 * @param {string} $fontStyle (normal) - Font style value
 */
/**
 * Respond To (Breakpoint)
 *
 * @param {string} $name - Name of the breakpoint used in $breakpoints
 */
/**
 * Aspect ratio, create a :before pseudo element for setting an aspect ratio on an element
 *
 * @param {number} $width (1) - Percentage width
 * @param {number} $height ($width) - Percentage height
 * @param {boolean} $relative (true) - Add relative position to element
 */
/**
 * Hover Mixin for applying :hover pseudo styles
 *
 * Add your own implementation for showing hovers
 * Example using Modernizr touch check: html.no-touch &:hover { @content; }
 * Leaving it to just :hover by default. But best practice to always use the mixin
 *
 * @param $extraSelector:string (optional) = an extra selector that can have the same styles as a hover (for mobile/active state)
 */
/**
 * Offset
 *
 * @param {number} $top (0) - Top Offset
 * @param {number} $left (0) - Left Offset
 */
/**
 * Position mixin for setting absolute position values
 *
 * The mixin can have multiple arguments providing a number
 * @param {number} $top (0) - Top Position
 * @param {number} $right ($top) - Right Position
 * @param {number} $bottom ($top) - Bottom Position
 * @param {number} $left ($right) - Left Position
 *
 * Or a map of multiple positions
 * @param {map} $args... - A map containing multiple positions (top: 1px, left: 1px)
 */
/**
 * Set pseudo elements styles that are used mostly (content, display, position)
 *
 * @param {display} $display (block)
 * @param {position} $position (absolute)
 * @param {string} $content ('')
 */
/**
 * Size an Element
 *
 * @param {number} $width (1em) - Width of the element
 * @param {number} $height ($width) - Height of the element
 */
.se03-sub-links {
	padding: 64px 0 80px;
}

.se03-sub-links .sub-links__section {
	overflow: visible;
	-webkit-box-flex: 1;
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
	-webkit-transition: -webkit-box-flex 500ms linear, -webkit-flex 500ms linear;
	transition: -webkit-box-flex 500ms linear, -webkit-flex 500ms linear;
	transition: flex 500ms linear;
	transition: flex 500ms linear, -webkit-box-flex 500ms linear, -webkit-flex 500ms linear, -ms-flex 500ms linear;
}

.se03-sub-links .sub-links__section:not(:first-child) {
	margin-top: 64px;
}

.se03-sub-links .sub-links__section h4 {
	padding-bottom: 24px;
	border-bottom: 1px solid #c7c8cb;
	margin-bottom: 31px;
	color: #171717;
	overflow: hidden;
}

.se03-sub-links .sub-links__section h4 span {
	position: absolute;
	right: 0;
	top: 2px;
}

.se03-sub-links .sub-links__section a {
	color: #858587;
	display: block;
	float: left;
	clear: left;
	overflow: hidden;
}

.se03-sub-links .sub-links__section a:not(:last-child) {
	margin-bottom: 24px;
}

.se03-sub-links .sub-links__section a:hover {
	color: #d9261c;
}

.se03-sub-links .sub-links__row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media (min-width: 1024px) {
	.se03-sub-links {
		padding: 124px 0 160px;
	}
	.se03-sub-links .row {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.se03-sub-links .sub-links__row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.se03-sub-links .sub-links__section {
		-webkit-transition: -webkit-box-flex 0.5s linear, -webkit-flex 0.5s linear;
		transition: -webkit-box-flex 0.5s linear, -webkit-flex 0.5s linear;
		transition: flex 0.5s linear;
		transition: flex 0.5s linear, -webkit-box-flex 0.5s linear, -webkit-flex 0.5s linear, -ms-flex 0.5s linear;
		-webkit-align-self: flex-start;
		    -ms-flex-item-align: start;
		        align-self: flex-start;
		-webkit-box-flex: 100%;
		-webkit-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100% 1;
	}
	.se03-sub-links .sub-links__section:not(:first-child) {
		margin-top: 0;
	}
	.se03-sub-links .sub-links__section h4 {
		padding-bottom: 8px;
		margin-bottom: 40px;
	}
	.se03-sub-links .sub-links__section h4 span {
		position: relative;
		top: -6px;
		margin-left: 16px;
	}
	.se03-sub-links .sub-links__section h4 span:hover {
		cursor: pointer;
	}
	.se03-sub-links .sub-links__row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
