/*--------------------------------------------------*/
.header{
    position: fixed;
    top:0;
    width: 100%;
    background: #FFFFFF;
    z-index: 301;
    box-shadow: 0 1px 5px grey;
    transition: top .5s;
}
.hiddened{
    top: -40px;
}
/*---------------------*/
#logo{
    margin-left: 10%;
    font-family: TL;
    float: left;
    padding: 10px 10px;
}
#logo a{
    font-size: 20px;
}
#logo a:hover{
    color: #39C5BB;
    -webkit-tap-highlight-color: transparent;
    transition: color .10s ease-in-out;
}
/*---------------------*/
.header-site{
    line-height: 10px;
    position: relative;
    margin: 13px 5%;
    display: inline-block;
}
.header-site-nav{
    padding: 0;
    display: inline-table;
}
.header-site-nav-proj{
    line-height: 10px;
    margin: 0;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}
.header-site-nav-proj a{
    text-decoration: none;
    text-decoration: ;
}
.header-site-nav-proj a:hover{
    color: #39C5BB;
    -webkit-tap-highlight-color: transparent;
    transition: color .2s ease-in-out;
    font-weight: bold;
}
.header-site-nav-proj a:link,a:visited{
    color: darkslategrey;
}
/*---------------------*/
#search{
    float: right;
    margin: 6px 29% 0px auto;
}
/*---------------------*/
#login{
    float: right;
    margin: 6px 10px 0px 5%;
}
#login input{
    background-color: lightgrey;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 30px;
    color: #423e3e;
    border-radius: 8px;
}
#login a{
    color: #423e3e;
}
/*--------------------------------------------------*/
