#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    /*height: auto;*/
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
    z-index: 9999;
    font-size: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#popupButton{
    border: none;
    color: #FFFFFF;
    background-color: #39C5BB;
    width: 80px;
    border-radius: 3px;
    font-family: SS;
    margin-left: 35%;
    height: auto;
}
#popuptext{
    overflow-y: scroll;
    resize: none;
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    border: #c3c3c3 solid 1px;
    outline: none;
    transition: border-color 0.3s cubic-bezier(.645,.045,.355,1);
    transition: color 0.3s cubic-bezier(.645,.045,.355,1);
    transition: background-color 5s cubic-bezier(.645,.045,.355,1);
}
#popuptext:hover,#popup:hover {
    border:#a8a8a8 solid 1px;
}
#popup h2,#popup h3,#popup p{
    text-indent: 2em;
}