#footer{
    width: 100%;
    display: block;
    background: #a8a8a8;
    /*text-align: center;*/
    box-shadow: 0 1px 5px #66CCFF;
}
/*---------------------*/
#lang{
    float: left;
    margin: 0 auto auto 5px;
}
#lang select{
    background-color: lightgrey;
    color: #423e3e;
    border-radius: 2px;
}
#lang input{
    margin: 7px auto auto 0px;
    background-color: lightgrey;
    border: none;
    text-align: center;
    text-decoration: none;
    height: 20px;
    border-radius: 2px;
}
/*---------------------*/
#linkwe{
    text-align: right;
}
#linkwe a{
    margin: 10px 5px;
    text-decoration: none;
}
#linkwe a:link,#linkwe a:visited{
    color: #423e3e;
}
#linkwe a:hover{
    color: #4F4F4F;
}