/*--------------------------------------------------*/
.header{
    position: fixed;
    top:0;
    width: 100%;
    background: #FFFFFF;
    z-index: 301;
    /* box-shadow: 0 1px 5px #39C5BB; */
    transition: top .5s;

    animation: MikuAndTianyi 5s infinite;
    animation-fill-mode: forwards;
}
.hiddened{
    top: -40px;
}
/*---------------------*/
#logo{
    margin-left: 1%;
    font-family: TL;
    float: left;
    padding: 10px 10px;
}
#logo a{
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}
#logo a:hover{
    color: #39C5BB;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.5s ease-in-out;
}
/*---------------------*/
.header-site{
    line-height: 10px;
    position: relative;
    margin: 14px 1%;
    display: inline-block;
    margin-right: 1%;
}
.header-site-nav{
    padding: 0;
    display: inline-table;
}
.header-site-nav-proj{
    line-height: 10px;
    margin: 0;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    padding-bottom: 5px;
    transition: border-top-color 2s ;
}
.header-site-nav-proj div a{
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}
.header-site-nav-proj div a:hover{
    color: #39C5BB;
    -webkit-tap-highlight-color: transparent;
    transition: color .2s ease-in-out;
    font-weight: bold;
    padding-top: 5px;
    animation: ButtonGradient 1s;
    animation-fill-mode: forwards;
}
.header-site-nav-proj div a:link,a:visited{
    color: darkslategrey;
}
/*---------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    /* display: block; */
    position: absolute;
    background-color: #FFFFFF;
    min-width:max-content;
    box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.2);
    margin-top: 6.5px;
    border-radius: 5px;
    padding-top: 5px;
}
.dropdown-content p{
    text-align: center;
    margin-top: 2px;
    padding:10px 5px;
}
.dropdown-content p a{
    transition: color 0.1s ease-in-out;
    border-left: 5px solid #00000000;
    border-right: 5px solid #00000000;
}
.dropdown-content p a:hover{
    /* border: 2px solid #39C5BB; */
    border-left: 5px solid #39C5BB;
    border-right: 5px solid #39C5BB;
    border-radius: 5px;
    background-color: #39C5BB;
    color: #FFFFFF;
}
.dropdown:hover .dropdown-content {
    display: block;
    animation: toLong 0.1s ease-in-out;
    animation-fill-mode: forwards;
}
/*---------------------*/
#login{
    float: right;
    margin: 6px 10px 0px 5%;
}
#login input{
    background-color: #39C5BB;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 8px;
}
#login a{
    color: #423e3e;
}
/*--------------------Anima------------------------------*/
@keyframes MikuAndTianyi {
    0%{
        box-shadow: 0 5px 5px #39C5BB;
    }
    70%{
        box-shadow: 0 5px 5px #66CCFF;
    }
    100%{
        box-shadow: 0 5px 5px #39C5BB;
    }
}
/*---------------------*/
@keyframes ButtonGradient {
    from{
        border-top: 4px solid #00000000;
    }
    to{
        border-top: 4px solid #39C5BB;
    }
}
/*---------------------*/
@keyframes toLong {
    0%{
        height: 0px;
    }
    100%{
        height: 100px;
    }
}