.container {
    margin: 5px 29% 0px auto;
    display: inline-block;
    position: fixed;
}
.parent>input:first-of-type {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #39C5BB;
    padding-left: 10px;
    color: #39C5BB;
    outline: #39C5BB;
}
/* .parent>input:first-of-type:focus {
    border: 1px solid #39C5BB;
} */
.parent>input:last-of-type {
    width: 70px;
    height: 33.5px;
    position: absolute;
    background: #39C5BB;
    border: 1px solid #39C5BB;
    color: #fff;
    font-size: 16px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}