.input-box {
    position: relative;
    width: 100%;
}

#UserName input{
    text-align: center;
    position: relative;
    width: 100%;
    padding: 9px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #39C5BB;
    color: #39C5BB;
    letter-spacing: 0.05em;
    font-size: 1.25em;
    transition: 0.5s;
}

.input-password-box input{
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #39C5BB;
    color: #39C5BB;
    letter-spacing: 0.05em;
    font-size: 1.25em;
    transition: 0.5s;
}

.input-box label{
    width: 100%;
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #39C5BB;
    user-select: none;
}

.input-box label span {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.25s cubic-bezier(0.5,1,0.5,1.5);
}

.input-box input:focus ~ label span,
.input-box input:valid ~ label span {
    color:#39C5BB;
    text-shadow: 0 0 5px #39C5BB,
    0 0 15px #66CCFF,
    0 0 30px #39C5BB;
    transform: translateY(-10px);
}

/* .input-box input:focus,.input-box input:valid {*/
    /* border-bottom: 2px solid #39C5BB; */
/*} */
